@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Arial', sans-serif;
    background-color: #19191a;
    color: #f4e1b9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://takegrade.com/front-end/images/illustration/scholarships_banner.png');
    background-repeat: no-repeat;
    background-position: left center; /* La imagen se coloca a la izquierda y centrada verticalmente */
    background-size: 40%; /* Ajusta el tamaño de la imagen según tus necesidades */
}

/* Login Card Container */
.login-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Login Card Styles */
.login-card {
    background-color: #373739;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Logo Section */
.login-card-logo img {
    width: 100px;
    margin-bottom: 20px;
   
}

/* Header */
.login-card-header h1 {
    color: #f4e1b9;
    font-size: 2rem;
    margin-bottom: 10px;
    
}

.login-card-header div {
    color: #c9b977;
    font-size: 1rem;
    margin-bottom: 30px;
}

/* Form Styles */
.login-card-form {
    width: 100%;
    margin-bottom: 20px;
}

/* Form Items */
.form-item {
    position: relative;
    margin-bottom: 20px;
}

.form-item input {
    width: 80%;
    padding: 15px 40px;
    background-color: #19191a;
    border: 1px solid #c9b977;
    border-radius: 5px;
    color: #f4e1b9;
    font-size: 1rem;
}

.form-item-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #c9b977;
}

/* Button Styles */
button[type="submit"] {
    background-color: #c9b977;
    color: #020202;
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #f4e1b9;
    color: #020202;
}

/* Footer Links */
.login-card-footer {
    color: #f4e1b9;
}

.login-card-footer a {
    color: #c9b977;
    text-decoration: none;
}

.login-card-footer a:hover {
    text-decoration: underline;
}